<table style="background-color:#cccccc; border:1px; padding 1 1 1 1;" >
  <{foreach item=alert from=$block.alert}>
  <tr style="background-color:#ffffcc">
    <td>
    <a style="font-size:70%" href="<{$alert.link}>" target="new" ><{$alert.name}></a>
    </td>
    <td>
    <{$alert.repdate}>
    </td>
  </tr>
  <{/foreach}>
  <tr>
    <td style="background-color:#ffffff;text-align:center;" colspan="2"><a style="font-size:70%; font-weight:normal;" href="<{$xoops_url}>/modules/sophosFlash/">
SEE ALL ALERTS</a>
    </td>
  </tr>
</table>

