<table style="text-align:center;padding 4 4 4 4;">
    <tr>
        <th colspan="3">Virus information provided by our sponsers</th>
    </tr>
    <tr>
        <td><a target="new" href="http://click.linksynergy.com/fs-bin/click?id=55/Axd*yeuo&offerid=50252.10000147&type=4&subid=0"><IMG  width="125" height="125" alt="VirusScan_125X125" border="0" src="http://ads.mcafee.com/mcafee_banners/McAfeecom/linkshare/VSO_15off_125X125.gif"></a><IMG border="0" width="1" height="1" src="http://ad.linksynergy.com/fs-bin/show?id=55/Axd*yeuo&bids=50252.10000147&type=4&subid=0"></td>
        <td><br /><br /><a target="new" href="http://www.sophos.com"><img src="<{$xoops_url}>/modules/sophosFlash/images/sophoslogo.gif"><br />
        Anit-Virus & Anti-Spam for business</a></td>
        <td><a target="new" href="http://click.linksynergy.com/fs-bin/click?id=55/Axd*yeuo&offerid=50252.10000140&type=4&subid=0"><IMG  width="125" height="125" alt="MPS_15off_125X125_static" border="0" src="http://ads.mcafee.com/mcafee_banners/McAfeecom/linkshare/MPS_15off_125X125_static.gif"></a><IMG border="0" width="1" height="1" src="http://ad.linksynergy.com/fs-bin/show?id=55/Axd*yeuo&bids=50252.10000140&type=4&subid=0"></td>
    </tr>
    <tr>
        <td colspan="3">
        &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="3">
        <{$virusList}>
        </td>
    </tr>
</table>
